// CSS file for Ebony Memo CMA by Juno Nguyen
// TODO: rewrite CSS in BEM naming convention

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$back-col: #eee;
$text-col: #444;
$url-col: darkcyan;
$err-col: tomato;
$res-col: limegreen;
$trans-t: 0.4s;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto Condensed, sans-serif;
    background-color: $back-col;
    color: $text-col;
    text-align: center;
  }

.app {
    max-width: 1024px;
    padding: 1rem;
    border: 1px solid black;
    margin: auto;
    min-height: 70vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    justify-content: space-around;
}

hr {
    background-color: #444;
}

.navbar-item {
    color: $url-col;
    text-decoration: none;
    padding: 0.5rem 2rem;
    transition: $trans-t;
    cursor: pointer;
    &:hover {
        background-color: teal;
        color: $back-col;
    }
}

.navbar-item-active {
    background-color: teal;
    color: $back-col;
}

.item-list {
    display: flex;
    flex-direction: column;
    input {
        margin: 0.5rem;
    }
}

table {
    min-width: 100%;
}

.code {
    font-family: Roboto Mono, monospace;
}

td {
    border: none;
}

tr {
    text-align: left;
    &:hover {
        background-color: #ccc;
    }
}

.edit-button-cell {
    text-align: right;
}

button {
    cursor: pointer;
}

.detail-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.detail-panel-col-lt {

    flex-basis: 50%;
}

.detail-panel-item {
    text-align: left;
    padding: 0.5rem;
}

.detail-panel-item input {
    width: 90%;
    margin: 2px 4px 2px 0px;
}

.detail-panel-col-rt {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.cover-panel {
    text-align: left;
    margin-bottom: 2rem;
}

.game-cover {
    width: 100%;
}

.detail-panel-col-rt-buttons {
    display: flex;
    flex-direction: column;
}

.detail-button {
    width: 100%;
    margin-top: 2rem;
}

button.delete-button {
    background-color: $err-col;
    border: none;
    color: $back-col;
    padding: 0.5rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.error {
    color: $err-col;
}

.api-res {
    color: $res-col;
}

.welcome p, .about p {
    max-width: 400px;
    margin: 16px auto;
    text-align: left;
    hyphens: auto;
}

.welcome {
    margin: auto;
}

button {
    font-family: Roboto Condensed, sans-serif;
    font-size: 1rem;
}

button.create-button {
    margin: 1rem;
    border: solid 1px $text-col;
    padding: 0.5rem 1rem;
    color: $back-col;
    background-color: $url-col;
    transition: $trans-t;
    &:hover {
        background-color: $back-col;
        color: $text-col;
    }
}

.login-panel {
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    input {
        width: 60%;
        margin: 0.5rem;
    }
}